.about_form{
    width: 100;
}

.about_form input, textarea{
    width: 100%;
    margin: 10px 0;
    outline: none !important;
    padding: 10px;
    color: var(--text_color);
    border: transparent;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    transition: .3s ease-in-out;
    border: 1px solid transparent;
}
.about_form input:focus, textarea:focus{
    border: 1px solid var(--bs-gray);
}