.projectCard {
  /* background-color: var(--third_color); */
  background-color: var(--primary_color);
  border-radius: 40px;
  box-shadow: 10px 10px 21px #232323, -10px -10px 21px #2f2f2f;
  border: 1px solid transparent;
  position: relative;
  z-index: 0;
}

.projectCard .primary_button {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
.projectCard_img {
  height: 150px;
  overflow: hidden;
}
.projectCard img {
  transition: 0.3s ease-in-out;
  height: 100%;
}
.projectCard:hover img {
  transform: scale(1.2) rotate(5deg);
}
