.left_nav {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding-right: 3px !important;
  z-index: 999;
  transition: 0.3s linear;
}

.children {
  height: 100vh;
}

.bars {
  position: fixed;
  z-index: 999999;
  left: 10px;
  top: 10px;
}

@media (max-width: 767px) {
  .left_nav {
    position: fixed;
    top: 0;
    left: -200%;
  }
  .left_nav.active {
    left: 0;
  }
}
