

/* home */
.home {
  max-width: 800px;
  margin: auto;
}

/* project */
.project_search {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--text_primary_color);
}

.project_search input {
  background-color: transparent;
  border: transparent;
  color: var(--text-color);
  padding: 5px 15px;
  padding-right: 0;
  width: calc(100% - 52px);
}

.project_search button {
  background-color: var(--text_primary_color);
  color: #fff;
  border: 1px solid var(--text_primary_color);
  font-size: 20px;
  padding: 5px 15px;
}

/* about */
.about{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}
.about p{
  font-weight: 100;
}
.about_short p{
  margin-bottom: 5px;
}
.about_short p b{
  color: var(--text_primary_color);
}

/* project */
.project_image img{
  max-height: 300px;
  width: 100%;
}

.project p{
  font-weight: 100;
}

.project .tags span{
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
}

.project_button{
  background-color: transparent;
  border: transparent;
  color: #fff;
  margin-bottom: 12px;
}

.not_found{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.not_found h1{
  font-size: 72px;
  font-weight: bold;
}

@media (max-width: 299px) {
  #root{
    display: none !important;
  }
}