.children {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* home */
.home {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  /* text-align: justify; */
}

/* project */
.project_search {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid var(--text_primary_color);
}

.project_search input {
  background-color: transparent;
  border: transparent;
  /* border-bottom: 1px solid var(--text_primary_color); */
  color: var(--text-color);
  padding: 5px 15px;
}

.project_search button {
  background-color: var(--text_primary_color);
  color: #fff;
  border: 1px solid var(--text_primary_color);
  font-size: 20px;
  padding: 5px 15px;
}

/* about */
.about{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
}
.about p{
  font-weight: 100;
}
.about_short p{
  margin-bottom: 5px;
}
.about_short p b{
  color: var(--text_primary_color);
}